#content {
    font-size: 1.2em;
}

article.inlinepage {
    margin-bottom: 14em;
}

.inlinepage .inlineheader header {
    font-weight: 500;
    font-size: 2em;
}

#last-blog-post {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0em;

    box-shadow: inset 0 0 1em #FFF, 0 0 0 transparent;
}


#last-blog-post .inlinepage {
    max-height: 100px;
    margin-bottom: 2em;
}

#last-blog-post .inlinepage img {
    display: none;
}

#last-blog-post .inlinefooter {
    display: none;
}

#list-blog-posts {
    margin-top: 5em;
}
