#content {
    font-size: 1.2em;
}

#last-blog-post {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}

article.inlinepage {
    margin-bottom: 14em;
}

.inlinepage .inlineheader header {
    font-weight: 500;
    font-size: 2em;
}
