#content {
    font-size: 1.2em;
}

article.inlinepage {
    margin-bottom: 14em;
}

.inlinepage .inlineheader header {
    font-weight: 500;
    font-size: 2em;
}

#last-blog-post-link {
    position: absolute;
    height: 200px;
    width: 100%;
    display: block;
    opacity: 0;
    z-index: 999999;
}

#last-blog-post-link a {
    display: block;
    height: 200px;
    width: 100%;
    color: transparent;
}

#last-blog-post-link .archivepagedate {
}

#last-blog-post {
    margin-bottom: 0em;
}

#last-blog-post .inlineheader header a {
    display: block;
    min-height: 70px;
}

#last-blog-post .inlinepage {
    margin-bottom: 0em;
}


#last-blog-post .inlinecontent {
    max-height: 100px;
    overflow: hidden;
    opacity: 0.6;
}

#last-blog-post .inlinefooter {
    display: none;
}

#list-blog-posts {
    margin-top: 5em;
    width: 100%;
    background: #FFF;
}
