<form class="navbar-form navbar-right" role="search" method="get" action="<TMPL_VAR SEARCHACTION>" id="searchform">
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" placeholder="Search" type="text" id="searchbox" name="P" value="" size="16" />
        </div>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
